@model CSGS.Models.Entities.Solicitud
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Create";
}

<br /><br />
<h2>Crear nueva solicitud</h2>

<form asp-action="Create">
    <div class="form-horizontal">
       
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <h2>Solicitante: @ViewBag.IdSolicitante</h2>
        @*<div class="form-group">
            <label asp-for="IdSolicitud" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdSolicitud" class="form-control" />
                <span asp-validation-for="IdSolicitud" class="text-danger" />
            </div>
        </div>*@



       @*<div class="form-group">
            <label asp-for="IdSolicitante" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdSolicitante" class="form-control" />@ViewBag.IdSolicitante
                <span asp-validation-for="IdSolicitante" class="text-danger" />
            </div>
        </div>*@
       
        


@*
    <div class="form-group">
        <label asp-for="IdSupervisor" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="IdSupervisor" class="form-control" />
            <span asp-validation-for="IdSupervisor" class="text-danger" />
        </div>
    </div>*@
        <div class="form-group">
            <label asp-for="IdMotivo" class="col-md-2 control-label">Motivo</label>
            <div class="col-md-10">
                @*<input asp-for="IdMotivo" class="form-control" />
                <span asp-validation-for="IdMotivo" class="text-danger" />*@
                <select asp-for="IdMotivo" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Motivos,"IdMotivo","NombreMotivo"))"></select>
            
            
            </div>
        </div>



        @*<div class="form-group">
            <label asp-for="IdEstado" class="col-md-2 control-label">Estado</label>
            <div class="col-md-10">
                <input asp-for="IdEstado" class="form-control" />
                <span asp-validation-for="IdEstado" class="text-danger" />
            </div>
        </div>*@




        <div class="form-group">
            <label asp-for="FechaViaje" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaViaje" class="form-control" />
                <span asp-validation-for="FechaViaje" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DescripcionViaje" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DescripcionViaje" class="form-control" />
                <span asp-validation-for="DescripcionViaje" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DuracionViaje" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DuracionViaje" class="form-control" />
                <span asp-validation-for="DuracionViaje" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MontoGastar" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MontoGastar" class="form-control" />
                <span asp-validation-for="MontoGastar" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GastosMovilidad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GastosMovilidad" class="form-control" />
                <span asp-validation-for="GastosMovilidad" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GastosHotel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GastosHotel" class="form-control" />
                <span asp-validation-for="GastosHotel" class="text-danger" />
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="SustentoSupervisor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SustentoSupervisor" class="form-control" />
                <span asp-validation-for="SustentoSupervisor" class="text-danger" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
