@model CSGS.Models.Entities.MatriculaDoc
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Create";
}

<br /><br />
<h2>Registro de Matricula</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>MatriculaDoc</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
            <label asp-for="IdMatriculaDoc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdMatriculaDoc" class="form-control" />
                <span asp-validation-for="IdMatriculaDoc" class="text-danger" />
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="IdEstudiante" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdEstudiante" class="form-control" />
                <span asp-validation-for="IdEstudiante" class="text-danger" />
            </div>
        </div>*@
        <h2>Estudiante: @ViewBag.IdEstudiante</h2>

        <div class="form-group">
            <label asp-for="IdCursoExt" class="col-md-2 control-label">Curso</label>
            <div class="col-md-10">
                @*<input asp-for="IdMotivo" class="form-control" />
                <span asp-validation-for="IdMotivo" class="text-danger" />*@
                <select asp-for="IdCursoExt" class="form-control"
                        asp-items="@(new SelectList(ViewBag.CursoExt,"IdCursoExt", "TituloCursoExt"))"></select>


            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="Fechamatricula" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fechamatricula" class="form-control" />
                <span asp-validation-for="Fechamatricula" class="text-danger" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
