@model CSGS.Models.Entities.MatriculaDoc
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Create";
}

<br /><br />
<h2>Registro de Matricula</h2>


<h5>En la lista de abajo encontraras los cursos disponibles para matricularte, no te olvides hacer clic en el boton enviar para confirmar tu matricula.</h5>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Elije el curso de tu interes</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
        <h4>Estudiante: @ViewBag.IdEstudiante</h4>

        <div class="form-group">
            <label asp-for="IdCursoExt" class="col-md-2 control-label">Curso</label>
            <div class="col-md-10">
               
                <select asp-for="IdCursoExt" class="form-control"
                        asp-items="@(new SelectList(ViewBag.CursoExt,"IdCursoExt", "TituloCursoExt"))"></select>


            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
